.container,
.container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.container {
    gap: 3rem;
    height: 90%;
    background-color: #000842;
    border-radius: 8px;
    margin-left: 2%;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 4rem;
}

.container div {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container h1,
.container p {
    color: white;
}
